header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
  padding: 10px;
}

nav {
  padding: 0px 20px;
}


nav li {
  display: inline-block;
  text-decoration: underline;
}


.main-container {
  display: flex;
  border: 1px solid black;
}

.column.large {
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  border: 1px solid black;
}

.mother, .monument, .orca, .spin, .burger, .research, .fbi, .cats, .brooklin, .cookie, .bites {
  border: 1px solid black;
}
