
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
  padding: 10px;
}

nav {
  padding: 0px 20px;
}


nav li {
  display: inline-block;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: 1px solid black;
}

.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.mother, .monument, .orca, .spin, .burger, .research, .fbi, .cats, .brooklin, .cookie, .bites {
  border: 1px solid black;
}

.mother {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  background-size: 630px 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}



.spin {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  background-size: 630px 300px;
}
.research {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  background-size: 630px 300px;
}

.cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}


footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  margin-top: 5px;
}


footer .mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer span {
  padding: 0px 5px;
}

a {
  color: black;
}
